.build
DerivedData
/.previous-build
xcuserdata
.DS_Store
*~
\#*
.\#*
.*.sw[nop]
*.xcscmblueprint
/default.profraw
*.xcodeproj
Utilities/Docker/*.tar.gz
.swiftpm
Package.resolved
/build
*.pyc
.docc-build
Utilities/InstalledSwiftPMConfiguration/config.json
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
